.list-container {
  display: flex;
  text-align: flex-start;
  justify-content: space-between;
  list-style-type: none;
}
.logo-url {
  height: 30px;
  width: 35px;
  margin-right: 30px;
  margin-top: 15px;
  margin-left: 30px;
}
.row {
  display: flex;
  justify-content: space-around;
}
button {
  border: none;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  margin-left: 40px;
}
